body {
    font-family: sans-serif;
    background: #ecf0f5;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

/* ================= HEADER ================= */
#header .header-wrapper {
    background-color: hsl(208, 100%, 22%);
}

#header {
    position: sticky; /* hoặc fixed nếu muốn luôn hiển thị */
    top: 0;
    z-index: 1000; /* đảm bảo cao hơn các section bên dưới */
    background-color: white; /* tránh trong suốt */
}


.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header-box {
    position: relative;
}

/* ----- Logo ----- */
.header-logo img {
    height: 100px;
    width: 100px;
    padding-left: 10px;
}

/* ----- Menu ----- */
nav .menu {
    display: flex;
    align-items: center;
    height: 75px;
}

nav .menu .item {
    color: hsl(200, 100%, 99%);
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.menu .item.active {
    color: hsl(188, 79%, 47%);

}


nav .menu .item:hover {
    color: hsl(190, 73%, 32%);
}

nav .menu .item .sub {
    display: flex;
    align-items: center;
    gap: 4px;
}

nav .menu .item .sub span {
    width: 7px;
    height: 7px;
    background: hsl(0, 0%, 100%);
    border-radius: 50%;
}

nav .menu .item:hover .sub span {
    background: hsl(188, 79%, 47%);
}

nav .menu .item .sub-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsl(208, 100%, 22%);
    border-radius: 6px;
    padding: 15px 20px;
    z-index: 2000; /* quan trọng */
}

nav .menu .item:hover .sub-item {
    display: block;
}

nav .menu .item .sub-item a {
    display: block;
    color: hsl(200, 100%, 99%);
    font-size: 18px;
    padding: 8px 12px;
    text-decoration: none;
    white-space: nowrap;
}

nav .menu .item .sub-item a:hover {
    color: hsl(188, 79%, 47%);
}

/* ----- Header Right ----- */
.header-right {
    display: flex;
    align-items: center;
    gap: 30px;

}

/* Account Dropdown */
.header-right .account {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 75px;
}

.header-right .account i {
    font-size: 26px;
    color: hsl(200, 100%, 99%);
    transition: color 0.3s ease;
    margin-right: 5px;
}

.header-right .account span {
    font-size: 20px;
    color: hsl(200, 100%, 99%);
}

.header-right .account:hover i,
.header-right .account:hover span {
    color: hsl(188, 79%, 47%);
}

.account .dropdown {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    background: hsl(0, 0%, 100%);
    width: 280px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.account:hover .dropdown {
    display: block;
}

.account .dropdown p {
    font-size: 15px;
    color: hsl(230, 25%, 39%);
    margin-bottom: 10px;
}

.account .dropdown a {
    color: hsl(188, 79%, 47%);
}

/* Nút đăng ký */
.header-right .register-btn {
    color: white;
    background-color: hsl(188, 79%, 47%);
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-right .register-btn:hover {
    background-color: hsl(188, 79%, 40%);
}

/* Số điện thoại */
.header-right .phone_number {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-right .phone_number i {
    font-size: 22px;
    color: hsl(33, 100%, 50%);
    transition: color 0.3s ease;
}

.header-right .phone_number span {
    color: hsl(33, 100%, 50%);
    font-size: 20px;
    font-weight: bold;
}

.header-right .phone_number:hover i,
.header-right .phone_number:hover span {
    color: hsl(43, 100%, 54%);
}

/* Main */
main {
    background: white;
    width: 650px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    padding: 25px;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    color: #1877F2;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: relative;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    width: 450px;
}

.value {
    font-size: 15px;
    width: 250px;
}

.profile-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.profile-btn .edit-btn, .change-btn {
    background: #4285F4;
    display: inline-block;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.edit {
    margin-right: 15px;
}

.change-password {
    margin-left: 15px;
}

.change-btn:hover, .edit-btn:hover {
    background-color: #1877F2;
}