* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom right, #f2f7fa, #e1eff7);
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
    background: url('IMAGE/hon-gam-ghi.jpg') center/cover no-repeat;
    color: white;
    position: relative;
}

.section-search::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.home-title h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-info h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: stretch;
    justify-content: center;
}

.search-box,
.search-date-box,
.select-box {
    flex: 1 1 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 7px;
    min-height: 55px;
}

.search-box i{
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: hsl(232, 8%, 64%);
    pointer-events: none;
}

.search-input,
.search-date,
.search-select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    background: transparent;
    padding: 6px 10px 6px 30px;
}

.search-date-box label,
.select-box label {
    font-size: 15px;
    color: #777;
    margin-bottom: 4px;
}

.search-btn {
    flex: 0 0 120px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    min-height: 80px;
}

@media (max-width: 992px) {
    .search-row {
        flex-direction: column;
    }

    .search-btn {
        width: 100%;
    }
}

